@using LeagueOfSportsTestTask.Helpers
@using LeagueOfSportsTestTask.Models
@model LeagueOfSportsTestTask.Models.PaginationModel<LeagueOfSportsTestTask.Models.Film>
@{
    ViewBag.Title = "Фильмы";
}

<h2>Список фильмов</h2>

@foreach (var item in Model.Objects)
{
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4>@Html.ActionLink(item.Title, "Details", "Films", new { id = item.Id }, null)</h4>
                    <p>Год производства: @Html.DisplayFor(modelItem => item.CreatedYear)</p>
                    <p>Жанр: @Html.DisplayFor(modelItem => item.FilmType.Name)</p>
                    <p>Режиссер: @Html.DisplayFor(modelItem => item.Creator)</p>
                    <p>Описание: @Html.DisplayFor(modelItem => item.Description)</p>
                </div>
            </div>
        </div>
        @if(Session["user"]!=null && ((User)Session["user"]).Id == item.IdUser){
        @Html.ActionLink("Изменить", "Edit","Films", new { id = item.Id },new {@class="btn btn-default"})
        }
    </div>

}
<hr />
<div class="btn-group">
    @Html.PageLinks(Model.PagerInfo, x => Url.Action("Index", new { page = x }))
</div>