@using LeagueOfSportsTestTask.Helpers
@model LeagueOfSportsTestTask.Models.PaginationModel<LeagueOfSportsTestTask.Models.Film>
@{
    ViewBag.Title = "Фильмы";
}

<h2>Список фильмов</h2>




@foreach (var item in Model.Objects)
{
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <img width="300px" height="100px" />
                    
                    @Html.DisplayFor(modelItem => item.PosterFile)
                </div>
                <div class="col-lg-8">
                    <h4>@Html.ActionLink(item.Title, "Details", "Films", new { id = item.Id }, null)</h4>
                    <p>Год) производства: @Html.DisplayFor(modelItem => item.CreatedDate)</p>
                    <p>Жанр: @Html.DisplayFor(modelItem => item.FilmType.Name)</p>
                    <p>Режиссер: @Html.DisplayFor(modelItem => item.Creator)</p>
                    <p>Описание: @Html.DisplayFor(modelItem => item.Description)</p>
                </div>
            </div>
        </div>
    </div>

    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
}
<hr />
<div class="btn-group">
    @Html.PageLinks(Model.PagerInfo, x => Url.Action("Index", new { page = x }))
</div>