@using LeagueOfSportsTestTask.Models
@model LeagueOfSportsTestTask.Models.Film

@{
    ViewBag.Title = "Информация о фильме";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Информация о фильме</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
       <dt>
            @Html.DisplayNameFor(model => model.IdFilmType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedYear)
        </dd>
    </dl>
</div>
@if (Session["user"] != null && Model.IdUser == ((User) Session["user"]).Id)
{
    <p>
        @Html.ActionLink("Изменить", "Edit", new {id = Model.Id}, new {@class = "btn btn-default"})
    </p>
}
